img{
    height: 700px;
    width: 600px;
    
}
#title{
    background-color: rgb(210, 172, 245);
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3 rem;
    line-height: 1.5;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15%;
}
