body{
    font-family: "Montserrat";
}
#title{
    background-color: rgb(210, 172, 245);
}
h1{
    font-family: 'Raleway', sans-serif;
    padding-left: 5%;
    font-size: 20%;
}
.container-fluid{
    padding: 3% 5%;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12 em;
    line-height: 1.5;
    padding-left: 2%;
}
.navbar{
    padding-bottom: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
    font-size: x-large;
}
.nab-link{
    font-size: 2 rem;
}
.side{
    padding-left: 5%;
}

/* download buttons */
.download-btn{
    margin: 3% 5% 3% 0%;
}
/* .box{
    padding: 5% 3% 3% 5%;
} */
.relative{
    width: 20em;
    height: 25rem;
    position: relative;
    left: 30%;
    transform: rotate(20deg);

}
/* image{ */
    /* width: 50px; */
    /* height: 65px; */
    
/* } */
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 2 rem;
    /* font-weight: bolder; */
}
p{
    font-size: 1.5rem;
    /* font-weight:900; */
    color: rgb(80, 72, 72);
}
.icon{
    color: rgb(210, 172, 245);
    margin-top: 1 rem;
}
.icon.hover{
    color: rgb(74, 13, 131) ;
}
.maintain{
    position: relative;
    bottom: 50px;
}